.button-mapping-info-container {
  font-size: small;
}

.button-mapping-info-container div {
  margin-right: 8px;
}

.button-mapping-info-container .button-mapping-info-table tr {
  border: 1px dotted black;
}

.button-mapping-info-container .button-mapping-info-table td {
  border: 1px dotted black;
  padding: 6px;
}

.button-mapping-info-container .button-mapping-info-table td:nth-of-type(even) {
  font-weight: bold;
}

.button-mapping-info-container button:first-of-type {
  margin-top: 16px;
  margin-bottom: 16px;
}