#nes-console-screen .nes-console {
  background: url("./src/web/overlay2.png");
  width: 428px;
  height: 409px;
  margin-bottom: 8px;
}

#nes-console-screen canvas {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-left: 84px;
  margin-top: 58px;
}

#nes-console-screen #nes-console-fps {
  color: #DD0000;
  font-size: smaller;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 46px;
  position: absolute;
}